@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qogiut');
  src:  url('fonts/icomoon.eot?qogiut#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qogiut') format('truetype'),
    url('fonts/icomoon.woff?qogiut') format('woff'),
    url('fonts/icomoon.svg?qogiut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e903";
  color: #953a70;
}
.icon-doc:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
  color: #953a70;
}
.icon-fb:before {
  content: "\e906";
}
.icon-frame:before {
  content: "\e907";
}
.icon-inst:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-mark:before {
  content: "\e90a";
}
.icon-mod1:before {
  content: "\e90b";
}
.icon-mod2:before {
  content: "\e90c";
}
.icon-tel:before {
  content: "\e90d";
}
.icon-teleg:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e902";
  color: #fff;
}
.icon-arr:before {
  content: "\e900";
  color: #953a70;
}
.icon-arr-right:before {
  content: "\e901";
}
