.error404-page {
    .content {
        background: #F2ECF2;
        padding-bottom: 90px;
    }
    .error404Block {
        margin: auto;
        margin-top: 43px;
        text-align: center;
        max-width: 830px;
        &-text {
            margin-top: 25px;
            .error404Block-title {
                display: block;
                font-weight: bold;
                font-size: 28px;
                line-height: 110%;
                color: #050505;
                margin-bottom: -2px;
            }
            p {
                font-size: 16px;
                line-height: 180%;
                color: #000;
                margin-bottom: 26px;
            }
        }
        &-img {
            position: relative;
            img {
                z-index: 2;
                position: relative;
            }
            img.error404Block-img__bg {
                position: absolute;
                width: 100%;
                left: 0;
                top: 70px;
                z-index: 1;
            }
        }
        .btn {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

@media screen and (max-width: 767px) {
    .error404Block {
        img {
            max-width: 280px;
        }
        .error404Block-img  {
            width: 100%;
            overflow: hidden;
            img.error404Block-img__bg {
                max-width: initial;
                width: initial;
                left: 50%;
                transform: translateX(-50%);
                top: 35px;
                height: 225px;
            }
        }
    }
}