.article-page {
    .content {
        padding-bottom: 0;
    }
    .articleBlock {
        padding-top: 88px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 110px;
        &-content {
            background: #F2ECF2;
            border-radius: 7px;
            padding: 72px 116px 76px;
            p {
                font-size: 16px;
                line-height: 200%;
                margin-bottom: 14px;
                padding: 0;
            }
        }
        &-date {
            display: block;
            font-size: 16px;
            line-height: 200%;
            color: #515151;
            margin-top: 19px;
            margin-bottom: 26px;
        }
        &-subtitle {
            font-weight: bold;
            font-size: 18px;
            line-height: 160%;
            color: #050505;
            margin-bottom: 17px;
            display: block;
            margin-top: 29px;
        }
        &-list {
            margin-bottom: 17px;
            li {
                padding-left: 50px;
                position: relative;
                font-size: 16px;
                line-height: 200%;
                &:before {
                    position: absolute;
                    left: 30px;
                    top: 13px;
                    content: '';
                    border: 2px solid #050505;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                }
            }
        }
        &-img__big {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 34px;
        }
        &-img__text {
            float: right;
            margin-left: 30px;
        }
        &-list__ordered {
            li {
                font-size: 16px;
                line-height: 200%;
                padding-left: 25px;
                position: relative;
                margin-bottom: 17px;
                span {
                    position: absolute;
                    left: 0px;
                    top: 1px;
                    font-size: 16px;
                    line-height: 200%;
                }
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 62px;
            align-items: center;
            span {
                font-size: 16px;
                line-height: 200%;
                display: inline-block;
                margin-right: 21px;
            }
            ul {
                display: inline-block;
            }
            li {
                display: inline;
                margin-right: 21px;
                i {
                    color: #000;
                    font-size: 20px;
                    transition: all 0.2s linear;
                    &:hover {
                        color: #953A70;
                    }
                }
            }
            .link {
                margin-top: -5px;
            }
        }
    }
    .articleBlock-img__cont {
        margin: auto;
        display: block;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .articleBlock-title {
        font-size: 34px;
    }
    .article-page .articleBlock {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 991px) {
	.article-page .articleBlock-content {
        padding: 60px 45px;
    }
    .article-page .articleBlock-img__text {
        max-width: 320px;
    }
}

@media screen and (max-width: 767px) {
	.article-page .articleBlock-content {
        padding: 40px 20px;
    }
    .article-page .articleBlock {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .article-page .articleBlock-content p {
        font-size: 14px;
    }
    .article-page .articleBlock-img__big {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .article-page .articleBlock-img__text {
        width: 100%;
        margin-bottom: 15px;
    }
    .article-page .articleBlock-footer {
   
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .article-page .articleBlock-footer span {
        margin-right: 10px;
    }
    .article-page .articleBlock-footer .link {
        margin-top: 15px;
    }
    .articleBlock-title {
        font-size: 24px;
    }
    .article-page .articleBlock-list li, .article-page .articleBlock-list__ordered li {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 8px;
        &:before {
            top: 7.7px;
        }
    }
    .article-page .articleBlock-list__ordered li {
        span {
            font-size: 14px;
            top: -3px;
        }
    }
    .article-page .articleBlock-footer .link{
        margin-top: -5px;
    }
}
@media screen and (max-width: 490px){
    .article-page .articleBlock-footer{
        display: block;
    }
    .article-page .articleBlock-footer .link{
        margin-top: 0;
    }
    .articleBlock-share{
        margin-bottom: 5px;
    }
}