.company-main{
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    &::after{
        position: absolute;
        display: block;
        background: #291811;
        opacity: 0.2;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
.company-main__box{

    padding-left: 83px;
    padding-right: 98px;
    padding-bottom: 89px;
    padding-top: 92px;
    
background: rgba(242, 234, 242, 0.6);
backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: relative;
    z-index: 1;
    max-width: 650px;
}
.company-main__text{
    font-size: 16px;
line-height: 200%;
/* or 32px */

color: #000000;
    margin-top: 38px;

}
.company-mission{
    background: #F2ECF2;
border-radius: 7px;
    padding-top: 115px;
    padding-bottom: 136px;
}
.web.fancybox-active{
    header{
       width: auto;
        left: 0;
        right: 17px;
        
    }
}
.company-mission__list{
    display: flex;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 71px;
    li{
        width: 20%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.company-mission__num{
    font-weight: 800;
font-size: 60px;
    margin-bottom: 5px;
    
    position: relative;
    span{
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom ,  #A34A80, #C06C9F);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}
.company-mission__circle{
    position: absolute;
    &.item1{
        left: -35px;
        top: 2px;
    }
    &.item2{
        left: -40px;
        top:-30px;
    }
    &.item3{
            left: -47px;
    top: -11px;
    }
    &.item4{
            left: -28px;
    top: -23px;
    }
    &.item5{
            left: -38px;
    top: -9px;
    }
}
.company-mission__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}
.company-advantages{
    padding-top: 112px;
}
.company-advantages__list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 69px;
    li{
        width: 50%;
        padding-right: 30px;
        margin-bottom: 48px;
        &:nth-of-type(2n){
            padding-left: 10px;
            padding-right: 0;
        }
    }
}
.company-advantages__box{
    display: flex;
    align-items: flex-start;
}
.company-advantages__text{
    font-weight: normal;
font-size: 16px;
line-height: 200%;
/* or 32px */
    max-width: 466px;

color: #000000;
}
.company-advantages__img{
    min-width: 115px;
    width: 115px;
    padding-top: 9px;
}
.company-license{
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 113px;
    h2{
        color: white;
        margin-bottom: 23px;
    }
    .wrapper{
        min-height: 326px;
    }
}
.company-license__text{
    font-weight: bold;
font-size: 17px;


color: #FFFFFF;
}
.company-license__box{
    padding-left: 119px;
    padding-top: 116px;
}



.company-license__doc{
    display: block;
    position: absolute;
    right: 185px;;
    top: 50%;
    box-shadow: 0px 15px 35px rgba(188, 171, 188, 0.4);
    transform: translateY(-50%);
    max-width: 320px;
    img{
        max-width: 100%;
    }
    .icon-search{
        position: absolute;
        display: block;
        width: 66px;
        height: 66px;
        line-height: 1;
        background: #953A70;
        left: 50%;
        top: 50%;
        margin-top: -33px;
        margin-left: -33px;
        text-align: center;
        padding-top: 20px;
        border-radius: 50%;
        font-size: 27px;
        &::before{
            display: block;
            transition: 0.2s;
            
        }
    }
    &:hover{
        .icon-search{
            &::before{
                transform: scale(1.1);
            }
        }
    }
}
.company-employee__box{
    
}
.company-employee__list{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    li{
        display: flex;
        flex-direction: column;
     
        width: calc(25% - 38px);
        position: relative;

        &:hover{
            padding-top: 0;
            .company-employee__text{
                opacity: 0;
            }
            .company-employee__text.text2{
                background: #FFFFFF;
                opacity: 0.9;
                box-shadow: 0px 15px 35px rgba(188, 171, 188, 0.6);
                 margin-top: 0;
                display: flex;
                flex-direction: column;
                flex: 1 1;
                justify-content: flex-end;
                padding-bottom: 24px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                padding-top: 40px;
                .company-employee__description{
                    display: block;
                }
                .company-employee__prof{
                margin-bottom: 17px;
            }
            }
            
        }
    }
}
.company-employee__description{
    display: none;
    font-weight: 300;
font-size: 15px;
line-height: 160%;
    
    li{
        width: auto;
        padding-top: 0;
        position: relative;
        padding-left: 18px;
        margin-bottom: 10px;
        &::before{
            position: absolute;
            display: block;
            content: "\e903";
            left: -5px;
            font-family: 'icomoon' !important;
            color: #953A70;;
            
        }
    }
/* or 24px */

color: #000000;
    text-align: left
}
.company-employee{
    padding-top: 112px;
}
.company-employee__photo{
height: 330px;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.company-employee__text{
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 33px;
    padding-left: 40px;
   
    overflow: hidden;
    padding-right: 40px;
    background: rgba(255,255,255,0);
}
.company-employee__text.text2{
    position: absolute;
    opacity: 0;
     transition: background 0.3s;
    z-index: -1;
}
.company-employee__prof{
    font-weight: 300;
font-size: 15px;
line-height: 160%;
/* or 24px */
text-align: center;

color: #050505;
    padding-top: 15px;
}
.section-form{
    background-color: #F2ECF2;
    padding-top: 98px;
    padding-bottom: 98px;
    margin-top: 112px;
    h3{
        color: #000;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 120%;
        margin-bottom: 29px;
            letter-spacing: 1px;
    }
    .text{
        margin-bottom: 18px;
    }
}
.section-form__box{
    width: 50%;
    max-width: 585px;
    background: white;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 69px;
    padding-top: 69px;
    min-height: 574px;
}
.section-form__group{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    padding-top: 10px;
    margin-bottom: 14px;
    input{
        border: none;
        background: none;
        font-size: 14px;
height: 25px;
        border-bottom: 1px solid #515151;;
        width: 100%;
        position: relative;
        z-index: 1;
color: #050505;
        &:focus{
            border-bottom: 2px solid #953A70;;
//            &+.form-placeholder{
//                font-size: 10px;
//                line-height: 12px;
//
//                top: -2px;
//                left: 0;
//                color: #515151;
//            }
//            &+label.error+.form-placeholder{
//                font-size: 10px;
//                line-height: 12px;
//
//                top: -2px;
//                left: 0;
//                color: #515151;
//            }
        }

    }
    
}
input{
    font-family: 'Montserrat';
}
.form-placeholder{
    position: absolute;
     top: 12px;
    left: 0px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #050505;
    transition: 0.2s;
    &.active{
        font-size: 10px;
        line-height: 12px;
        top: -2px;
        left: 0;
        color: #515151;
    }
    &.focus{
        font-size: 10px;
        line-height: 12px;
        top: -2px;
        left: 0;
        color: #515151;
    }
}
.btn{
    background: linear-gradient(180deg, #953A70 0%, #6D1E4D 100%);
border-radius: 30px;
    height: 60px;
    font-weight: 600;
font-size: 17px;
    font-style: normal;
    border: none;
    padding-left: 78px;
    padding-right: 78px;
        font-family: 'Montserrat';
color: #FFFFFF;
transition: 0.2s;
    position: relative;
    span{
        position: relative;
        z-index: 1;
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 30px;
        background: linear-gradient(180deg, #CB79AB 0%, #953A70 100%);
        transition: 0.2s;
        opacity: 0;
    }
    &:hover{
        &::before{
            opacity: 1;
        }
    }
}
a.btn{
    display: inline-block;
    padding-top: 21px;
    text-align: center;
}
.section-form__block{
    margin-bottom: 52px;
}
.section-form{
    position: relative;
    margin-top: 124px;
    .wrapper{
        z-index: 1;
    }
}
.section-form__img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: right;
    position: absolute;
}
.section-form__box{
    position: relative;
}
.section-form__complete-img{
    margin-bottom: 38px;
}
.section-form__wrap.hide{
  opacity: 0;
    z-index: -11;
    position: relative;
}
.inside-page{
    padding-bottom: 0;
}
.section-form__complete{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 0px;
    padding-top:0px;
    z-index: -11;    
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active{
       opacity: 1;
        z-index: 1;
    }
}
.section-form__complete{
    .text{
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 1450px){
    .company-mission__list{
        margin-left: 0;
        margin-right: 0;
    }
    .company-mission__list li{
        padding-left: 15px;
        padding-right: 15px;
        br{
            display: none;
        }
    }
     .company-employee__text{
            padding-left: 15px;
        padding-right: 15px;
        br{
            display: none;
        }
    }
}
@media screen and (max-width: 1360px){
    .section-form__img{
        width: calc(50% - 50px)
    }
}
@media screen and (max-width: 1199px){
    .company-mission__list li{
        width: 33.3333%;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .company-mission__list{
        flex-wrap: wrap;
      
    }
    .company-mission{
        padding-bottom: 100px;
    }
    .company-advantages__text{
        
        br{
            display: none;
        }
    }
    .company-employee__text{
        padding-left: 15px;
        padding-right: 15px;
        br{
            display: none;
        }
    }
    .company-employee__list > li{
        width: calc(25% - 20px);
    }
    .company-mission{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .company-advantages{
        padding-top: 70px;
    }
    .company-license{
        margin-top: 90px;
    }
    .section-form{
        margin-top: 70px;
    }
}
@media screen and (max-width: 1023px){
    .company-license__doc{
        right: 15px;
    }
    .company-license__box{
        padding-left: 0;
    }
    .company-employee__list > li{
        width: calc(50% - 10px);
    }
    .company-employee__list{
        flex-wrap: wrap;
    }
    .company-employee__list > li{
        margin-bottom: 40px;
     
    }
    .company-employee__text{
        margin-top: 20px;
    }
    .section-form__box{
        padding: 30px;
        min-height: 511px;
        br{
            display: none;
        }
    }
    
    .section-form__img{
        width: calc(50% - 20px)
    }
    .section-form__complete{
        padding-left: 30px;
        padding-right: 30px;
    }
    .company-main__box{
        max-width: none;
    }
}
@media screen and (max-width: 767px){
    .company-main__box{
        padding: 15px;
        max-width: none;
    }
    .company-main{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .company-main__text{
        font-size: 15px;
        margin-top: 15px;
    }
    .company-mission{
        padding-top: 50px;
    }
    .company-mission__list li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .company-mission__num{
         font-size: 34px;
   
    }
    .text{
        font-size: 14px;
    }
    .section-form h3{
        margin-bottom: 15px;
    }
    .section-form__block{
        margin-bottom: 30px;
    }
    .company-mission__list li{
        padding-bottom: 15px;
        width: 50%;
    }
    .section-form__complete{
        padding-top: 10px;
    }
    .company-mission__list{
        padding-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .company-mission{
        padding-bottom: 35px;
    }
    .company-mission__text{
        font-size: 14px;
    }
    .company-mission__circle{
        width: 37px;
              left: -10px !important;
            top: -10px !important;;
        img{
            max-width: 100%;
      
        }
    }
    .company-advantages{
        br{
            display: none;
        }
    }
    .company-advantages__box{
        display: block;
    }
    .company-advantages__img{
        padding-top: 0;
        width: auto;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .company-advantages__text{
        font-size: 14px;
    }
    .company-advantages__list li{
        padding-right: 15px;
    }
    .company-advantages{
        padding-top: 50px;
    }
    .company-advantages__list{
        padding-top: 30px;
    }
    .company-license__doc{
        position: relative;
        max-width: 320px;
        display: block;
        img{
            max-width: 100%;
            display: block;
        }
        margin-left: auto;
        margin-right: auto;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        transform: none;
    }
    .company-license__box{
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .company-license{
        padding-bottom: 30px;
    }
    .company-license{
        margin-top: 20px;
    }
    .company-employee{
        padding-top: 50px;
    }
    .company-employee__list{
        margin-top: 30px;
    }
    .section-form{
        margin-top: 30px;
    }
    .section-form{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .section-form__box{
        padding: 15px;
    }
    .section-form__box{
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 1px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-form__img{
        width: 100%;
    }
    .section-form__complete{
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn{
        padding-left: 50px;
        padding-right: 50px;
    }
    .section-form__box{
        max-width: 480px;
 
    }
    .section-form__wrap{
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 550px){
    .company-employee__list > li{
        width: 100%;
    }
    .company-employee__list > li{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 399px){
    .company-mission__list li{
        width: 100%;
    }
    .company-mission__list li{
        width: 100%;
    }
    .company-mission__num{

    }
    .company-advantages__list li{
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0;
        margin-bottom: 30px;
        
    }
    
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .company-mission__num span{
        color: #A34A80;
        background: none;
    }
}