.contacts-page{
    background: #F2ECF2;
    padding-bottom: 124px;
}
.contacts-wrapper{
    padding-top: 111px;
}
.contacts-wrapper__left{
    max-width: 800px;
    width: 58%;
}
.contacts-wrapper__list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 58px;
    li{
        width: 50%;
        padding-bottom: 61px;
        &:nth-of-type(2n){
            padding-left: 11px;
        }
    }
}
.contacts-wrapper__box{
    display: flex;
    align-items: center;
}
.contacts-wrapper__img{
    min-width: 55px;
    
}
.contacts-wrapper__pretitle{
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

margin-bottom: 3px;
    color: #050505;

    opacity: 0.7;
}
.contacts-wrapper__tel{
    font-weight: 600;
font-size: 15px;
line-height: 172.35%;
/* or 26px */
    display: block;

color: #050505;
    &:hover{
        color: #953A70;
    }
}
.contacts-wrapper__text{
    font-weight: 600;
font-size: 15px;
line-height: 172.35%;
/* identical to box height, or 26px */

color: #050505;
}
.contacts-wrapper__link{
    font-weight: 600;
font-size: 13px;
line-height: 172.35%;


color: #953A70;
    border-bottom: 1px solid #953A70;
    &:hover{
        border-bottom: 1px solid rgba(0,0,0,0);
    }

}
.contacts-wrapper__inn{
    font-weight: 600;
font-size: 16px;


color: #000000;
    margin-bottom: 16px;
}
.contacts-wrapper__bottom{
    padding-left: 55px;
    display: flex;
}
.contacts-wrapper__address{
    width: 50%;
}
.contacts-wrapper__place{
    font-weight: normal;
font-size: 16px;
line-height: 160%;
max-width: 326px;
color: #000000;
    margin-top: 8px;
}
.contacts-wrapper__social{
    width: 50%;
    padding-left: 40px;
    .contacts-wrapper__text{
        line-height: 1;
    }
    .footer-box__list.social{
        padding-right: 0;
        align-items: center;
        margin-top: 33px;
        display: flex;
        padding-right: 10px;
        margin-left: -17px;
        margin-top: 11px;
        i{
            display: block;
            color: #000000;;
            transition: 0.2s;
        }
        a{
            font-size: 18px;
            i.icon-vk{
                font-size: 25px;
            }
            i.icon-teleg{
                font-size: 20px;
            }
            &:hover{
                i{
                    color: #953a70;;
                }
            }
        }
        li{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}
.contacts-wrapper__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .section-form__box{
    background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(28, 19, 16, 0.15);
    max-width: 480px;
        padding-top: 48px;
        min-height: 1px;
        padding-bottom: 53px;
    margin-top: 5px;
        margin-left: 50px;
        h3{
                color: #000;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 14px;
    letter-spacing: 0px;
        }
}
    .section-form__block{
        margin-bottom: 33px;
        
    }
}
.section-form__group{
    textarea{
        border: none;
        resize: none;
        width: 100%;
            border: none;
    background: none;
    font-size: 14px;
    height: 57px;
    border-bottom: 1px solid #515151;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #050505;
        &:focus{
            border-bottom: 2px solid #953A70;
        }
}


    }
.section-form__check{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    padding-top: 0px;
    margin-bottom: 14px;
    
    label{
        font-weight: normal;
        font-size: 12px;
        line-height: 128.91%;
        /* or 15px */
        display: flex;
        text-align: left;
        color: #050505;
        align-items: center;
        cursor: pointer;
        a{
            font-weight: 600;
            color: #050505;
            &:hover{
                color: #953a70;;
            }
        }
    }
    input[type=checkbox], input[type=radio] {display: none;}

    input[type=checkbox] + label:before {
        content: "";
        color: transparent;
        display: inline-block;
        border: 2px solid #A1AAB5;
       
        border-radius: 3px;
        font-size: 11px;    
      
  
        height: 16px;
        width: 16px;
        min-width: 16px;
        margin-right: 10px;
        text-align: center;
    
        line-height:  13px;
        transition: color ease .1s;
        position: relative;

    }

    input[type=checkbox]:checked + label:before {
        content: "\e903";
          font-family: 'icomoon' !important;

          font-style: normal;
          font-weight: normal;
                color: #953a70;
        border: 2px solid #953a70;
    }
}
@media screen and (max-width: 1023px){
    .contacts-wrapper{
        padding-top: 70px;
    }
    .contacts-page{
        padding-bottom: 70px;
    }
    .contacts-wrapper__block{
        display: block;
    }
    .contacts-wrapper__block .section-form__box{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .contacts-wrapper__left{
        max-width: none;
        width: 100%;
    }
    .contacts-wrapper__text{
        max-width: 260px;
    }
    .contacts-page{
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 767px){
    .contacts-wrapper__social .footer-box__list.social{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        justify-content: flex-start;
        
    }
    .contacts-wrapper{
        padding-top: 50px;
    }
    .contacts-page{
        padding-bottom: 50px;
    }
    .contacts-wrapper__list{
        padding-top: 30px;
    }
    .contacts-wrapper__block .section-form__box{
        margin-top: 30px;
    }
    .footer-box__list.social{
        justify-content: center;
    }
    .contacts-wrapper__social .footer-box__list.social{
        margin-left: -12px;
    }
}
@media screen and (max-width: 600px){
    .contacts-wrapper__list li{
        width: 100%;
        padding-bottom: 30px;
    }
    .contacts-wrapper__list li:nth-of-type(2n){
        padding-left: 0;
    }
    .contacts-wrapper__bottom{
        display: block;
    }
    .contacts-wrapper__social{
        padding-left: 0;
        margin-top: 30px;
    }
    .contacts-wrapper__address{
        width: 100%;
    }
    .contacts-wrapper__social{
        width: 100%;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .section-form__check input[type=checkbox] + label:before{
        line-height: 11px;
        text-align: center;
        font-size: 10px;
    }
}