
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
    padding-top: 80px;
}
.wrapper{
	min-width: $min-width;
	max-width: 1410px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	

	padding: 15px 0 15px 0;
	font-weight: 400;	
}
.link{
    font-weight: bold;
font-size: 17px;


color: #050505;
    i{
        font-size: 12px;
        margin-left: 10px;
        transition: 0.2s;
    }
    &:hover{
        i{
            margin-left: 20px;
        }
    }
}
h1{	
font-weight: bold;
font-size: 55px;
line-height: 1.1;
/* or 61px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

border-radius: 30px;
}
.pretitle{
    font-weight: normal;
font-size: 18px;
line-height: 1.4;
/* or 33px */
text-align: center;

color: #FFFFFF;
}
h2{
    font-weight: bold;
font-size: 47px;
line-height: 110%;

letter-spacing: 0.05em;
text-transform: uppercase;

color: #050505;

border-radius: 30px;
}
h3{
font-weight: 700;
font-size: 28px;
line-height: 120%;


color: #FFFFFF;
}
li{
    list-style-type: none;
}
h4{
    font-weight: bold;
font-size: 18px;
line-height: 25px;

color: #050505;
}
.text{
    font-weight: normal;
font-size: 16px;
line-height: 200%;
/* or 32px */

color: #000000;
}
.btn2{
    height: 60px;border: 2px solid #953A70;
text-align: center;
    display: inline-block;
    padding-top: 15px;
    font-weight: 600;
font-size: 17px;
position: relative;

color: #050505;

border-radius: 30px;
    padding-left: 66px;
    padding-right: 66px;
    span{
            position: relative;
    z-index: 1;
    }
    &::before{
        position: absolute;
        display: block;
        left:-1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        opacity: -1px;
        background: linear-gradient(180deg, #953A70 0%, #6D1E4D 100%);
        border-radius: 30px;
        content: '';
        transition: 0.2s;
        opacity: 0;
    }
    &:hover{
        color: white;
        
        &::before{
            opacity: 1;
        }
    }
}
/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{opacity: 0;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
    padding-bottom: 162px;
	
}


.section-main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;

    text-align: center;
    padding-bottom: 5px;
    padding-top: 216px;
}
.section-main__box{
    margin-left: auto;
    margin-right: auto;
}
.section-main__box{
    max-width: 900px;
    h1{
        margin-bottom:20px;
    }
}
.section-company__box{
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 640px;
    position: relative;
    &::after{
        position: absolute;
        display: block;
        content: '';
        display: block;
        width: 61%;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(../img/comp.jpg);
        background-size: cover;
        background-position: center;
    }
}
.section-company__text{
    background: #F2ECF2;
border-radius: 7px;
    padding-left: 80px;
    padding-top: 54px;
    padding-bottom: 58px;
    padding-right: 65px;
    z-index: 1;
    position: relative;
    max-width: 704px;
    width: 52%;
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 200%;

        color: #000000;
        padding-top: 42px;
        padding-bottom: 42px;
    }
}
.section-company{
    margin-top: 120px;
}
.section-services__list{
    display: flex;
    flex-wrap: wrap;
    li{
        width: 50%;
        position: relative;
        text-align: left;
        transition: 0.4s;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::after{
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            
            opacity: 0.5;
            transition: 0.4s;
            background: #8A3668;
            opacity: 0;
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #291811;
            opacity: 0.5;
            transition: 0.4s;

        }
        &:hover{
            &::after{
                opacity: 0.5;
            }
           
            .section-services__box{
                padding-top: 102px;
                overflow: hidden;
            }
        }
    }
}
.link.trans-show.active{
    display: inline-block;
                
}
.section-services__text.trans-show.active{
   visibility: visible;
    position: static;
    z-index: 1;
    opacity: 1;
    margin-bottom: 29px;
    margin-top: 31px;
                
}
.section-services__box{
    min-height: 450px;
    height: 450px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    
    padding-bottom: 78px;
    padding-left: 96px;
    padding-right: 30px;
    transition: 0.4s;
    padding-bottom: 30px;
    padding-top: 341px;
    .link{
        color: white;
        display: none;
        
        i{
            transition: 0.2s;
        }
        &:hover{
            i{
                margin-left: 20px;
            }
        }
    }
  
}
.section-services{
    text-align: center;
    margin-top: 113px;

    h2{
        padding-bottom: 57px;
    }
}
.section-services__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;

    max-width: 421px;
    margin-bottom: 30px;
visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -11;
    transition: 0.2s;
    max-height: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-news__img{
    min-height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -37px;
    display: block;
    margin-right: -30px;
    background-size: cover;
}
.section-news__list{
    display: flex;
    margin-left: -37.5px;
    margin-right: -37.5px;
    li{
        padding-left: 37.5px;
        padding-right: 37.5px;
        width: 33.3333%;
        display: flex;
        
        
    }
}
.section-news__box{
    position: relative;
    &>.link{
        position: absolute;
        top: -90px;
       right: 0;
          min-width: 165px;
    }
}
.section-news__item{
    background: #F2ECF2;
    border-radius: 7px;
    overflow: hidden;
    padding-left: 37px;
    padding-right: 30px;
    position: relative;
    padding-bottom: 84px;
    .link{
        position: absolute;
        bottom: 42px;
        left: 37px;
    }
}
.section-news__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    margin-top: 38px;
    display: block;
    color: #050505;
    margin-bottom: 16px;
    &:hover{
        color: #953A70;
    }
}
.section-news__text{
    font-weight: 300;
font-size: 15px;
line-height: 180%;


color: #050505;

}
footer{
    
background: #D8CDE1;
    padding-top: 46px;
}
.section-news{
    padding-top: 116px;
    padding-bottom: 0px;
    h2{
        text-align: center;
        padding-bottom: 57px;
    }
}
.footer-box{
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(5,5,5,0.1);
}
.footer-box__item{
    &:first-child{
        width: 35%;
    }
    &:nth-of-type(2){
        width: 35.4%;
    }
    &:nth-of-type(3){
        width: 29.6%;
    }
    display: flex;

    h6{
        font-weight: bold;
font-size: 15px;
line-height: 26px;
/* or 173% */

color: #050505;
        padding-bottom: 12px;
        min-height: 38px;

    }
    a{
        font-weight: normal;
font-size: 13px;
line-height: 26px;
/* or 200% */

color: #050505;
        &:hover{
               color: #953A70;
        }
    }
}
.footer-box__el{
    padding-right: 30px;
    &:first-child{
        margin-right: 38px;
    }
}
.footer-box__list.social{
    i{
        display: none;
    }
}
.footer-box__item div.footer-contacts{
    margin-right: 89px;
    a{
        font-weight: 600;
font-size: 13px;
line-height: 20px;
/* or 154% */

color: #050505;
        text-shadow: 0 0;
        &:hover{
               color: #953A70;
        }
    }
    h6{
        padding-bottom: 16px;
    }
}
.footer-contacts__box{
    padding-top: 29px;
    color: rgba(5,5,5,0.7);
    a{
        display: block;
        margin-top: 3px;
        &:hover{
               color: #953A70;
        }
    }
}
.footer-bottom{
    br{
        display: none;
    }
  
    div:first-child{
        width: 35%;
        padding-right: 15px;
    }
    div:nth-of-type(2)
    {width: 35.4%
        ;padding-right: 15px;
        
    }
    div:nth-of-type(3)
    {width: 29.6%
        
    }
}
.section-services-over{
    overflow: auto;
   height: 210px;
}
.footer-bottom{
    display: flex;
    
    padding-top: 23px;
    padding-bottom: 23px;
    &>div{
        font-weight: normal;
font-size: 14px;
line-height: 150%;
        color: rgba(5,5,5,0.7);
    }
    a{
         font-weight: normal;
font-size: 14px;
line-height: 150%;
        color: rgba(5,5,5,0.7);
        &:hover{
               color: #953A70;
        }
    }
}
.main-wrapper{
    &.padding{
        padding-top: 80px;
    }
}
.section-news__item{
    transition: 0.2s;
}
.section-news__item:hover{
    background: rgba(242,236,242,0.6)
}
@media screen and (max-width: 1299px){
    h2{
        font-size: 45px;
    }
    .section-news__list li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-news__list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .footer-box__el:first-child{
        margin-right: 0;
    }
    .footer-box__item div.footer-contacts{
        margin-right: 0;
    }
    .footer-box__item{
        width: 33.3333% !important;
        justify-content: space-between;
    }
    .footer-box__el{
        width: 50%;
    }
    .footer-bottom{
    br{
        display: none;
    }
    div:first-child{
        width: 33.333%;
    }
    div:nth-of-type(2)
    {width: 33.333%;
        
    }
    div:nth-of-type(3)
    {width: 33.333%;
        
    }
}
    .content{
        padding-bottom: 50px;
    }
    .section-form .text{
        br{
            display: none;
        }
    }
}
@media screen and (max-width: 1023px){
    .main-wrapper{
        padding-top: 50.9px;
    }
     h1{
        font-size: 40px;
    }
    .section-news__box > .link{
        top: -84px;
    }
    header.anim{
        opacity: 1;
    }
    .section-main{
        min-height: 400px;
    }
    .section-company{
        margin-top: 70px;
    }
    .section-services{
        margin-top: 70px;
    }
    .section-news{
        padding-top: 70px;
    }
    h2{
        font-size: 34px;
    }
    .section-news__item{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 70px;
    }
    .section-news__item .link{
        bottom: 21px;
        left: 15px;
    }
    .section-news__img{
        margin-left: -15px;
        margin-right: -15px;
    }
    .section-news__title{
        font-size: 15px;
        line-height: 1.5;
        margin-top: 15px;
    }
    .section-news__list li{
        padding-left: 7px;
        padding-right: 7px;
    }
    .section-news__list{
        margin-left: -7px;
        margin-right: -7px;
    }
    .section-news__text{
        font-size: 14px;
        line-height: 1.5;
    }
    .link{
        font-size: 15px;
        i{
            font-size: 10px;
            margin-left: 8px;
        }
    }
    .footer-box__item{
        width: 50% !important;
        margin-bottom: 20px;
    }
    .footer-box{
        flex-wrap: wrap;
    }
    .footer-box__el{
        width: auto;
        
    }
    .footer-box__el:first-child{
            width: 45%;
        }
    .footer-box__item{
        justify-content: flex-start;
    }
    .footer-bottom > div{
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-bottom{
        margin-left: -15px;
        margin-right: -15px;
    }
    .section-news__box > .link i{
        margin-left: 8px;
    }
    .section-services__box{
        min-height: 300px;
        padding: 30px;
        padding-top: 240px;
        height: 300px;
        &:hover{
            padding-top: 30px;
        }
    }
    .section-services__list li:hover .section-services__box{
        padding-bottom: 20px;
        padding-top: 35px;
    }
    h3{
        font-size: 20px;
    }
    .section-company__text{
        padding: 30px;
    }
    .section-main{
        padding-top: 138px;
    }
    .content{
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 767px){
    h1{
        font-size: 28px;
        
        
    }
    .section-main__box h1{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-company__text{
        padding: 30px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: none;
         border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width:auto;
    }
    .section-company__box{
        min-height: 1px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-company__text p{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;    
    }
    h2{
        font-size: 24px;
    }
    .section-company{
        margin-top: 15px;
    }
    .section-company__box::after{
       width: 100%;
    }
    .section-company__box::after{
        position: static;
        height: 300px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .section-company__box{
        padding-top: 0;
        padding-bottom: 0;
    }
    .section-services h2{
        padding-bottom: 20px;
    }
    .section-services{
        margin-top: 50px;
    }
    .section-services__list{
        display: block;
    }
    .section-services__list li{
        width: 100%;
        background-repeat: no-repeat;
        height: 360px;
    }
    .section-services__box{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-services__text{
        max-width: none;
    }
  
    .section-services__box{
        padding-top: 305px;
        min-height: 360px;
        padding-bottom: 5px;
    }
    .section-news__box > .link{
        position: static;
        padding-bottom: 10px;
        margin-left: auto;
        display: inline-block;
    }
    .section-news{
        text-align: right;
    }
    .section-news h2{
        padding-bottom: 10px;
    }
    .section-news__list{
        text-align: left;
        display: block;
    }
    .section-news__list li{
        width: 100%;
        margin-bottom: 20px;
    }
    .section-news{
        padding-top: 50px;
    }
    .content{
        padding-bottom: 50px;
    }
    .footer-box{
        display: block;
    }
    .footer-box__item{
        width: 100% !important;
     
    }
    .footer-box__el:first-child{
        width: 50%;
    }
    .footer-box__el{
        width: 50%;
    }
    .footer-box__item a{
        line-height: 1.3;
      
    }
    .footer-box__list{
        li{
            padding-bottom: 10px;
        }
    }
    .footer-bottom{
        display: block;
        text-align: center;
    }
    .footer-bottom > div{
        padding-bottom: 20px;
    }
    .section-news__box > .link{
        position: absolute;
        bottom: 0;
        top: auto;
        right: 0;
    }
    .section-news__box{
        padding-bottom:25px;
    }
    .section-news h2{
        padding-bottom: 20px;
    }
    .footer-box__list.social{
        display: flex;
        a{
            i{
                display: block;
                
            }
            span{
                display: none;
            }
        }
    }
    .footer-box__item{
        display: block;
        text-align: center;
        margin-bottom: 17px;
    }
    .footer-box__el{
        width: 100% !important;
        padding-right: 0 !important;
        
    }
    .footer-box__item h6{
        min-height: 1px;
    }
    .no-title{
        display: none;
    }
    .footer-box__item div.footer-contacts h6{
        padding-bottom: 11px;
    }
    .footer-box__item div.footer-contacts li{
        padding-bottom: 0px;
    }
    .footer-contacts__box{
        padding-top: 21px;
    }
    .footer-box__list.social{
        justify-content: center;
        align-items: center;
        margin-top: 33px;
        padding-right: 10px;
        a{
            font-size: 18px;
            i.icon-vk{
                font-size: 25px;
            }
            i.icon-teleg{
                font-size: 20px;
            }
        }
        li{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .footer-box{
        padding-bottom: 8px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        padding-top: 36px;
        div:first-child{
            order: 1;
        }
        div:nth-of-type(3){
            order: 2;
            a{
               
            }
        }
    }
    .footer-bottom{
        br{
            display: block;
            
        }
        span{
                display: none;
            }
    }
    .footer-bottom > div{
        padding-bottom: 18px;
        width: 100% !important;
    }
}
@media screen and (max-width: 450px){
    .footer-box__el{
        padding-right: 15px;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



