@media screen and (min-width: 1024px){
    .genom-page{
        padding-bottom: 0;
    .company-main__box{
        max-width: 817px;
        padding-top: 68px;
        padding-right: 61px;
        padding-bottom: 63px;
    }   
        .nipt-pay{
            padding-top: 70px;
        }
        .nipt-pay__list li{
            width: 33.3333%;
            padding-left: 33.5px;
            padding-right: 33.5px;
        }
        .nipt-pay__list{
            margin-left: -33.5px;
            margin-right: -33.5px;
            padding-top: 59px;
            margin-bottom: 39px;
        }
        .nipt-pay__box{
            padding-bottom: 181px;
        }
        .nipt-info{
            padding-top: 184px;
        }
        .nipt-info__text{
            padding-right: 25px;
        }
        .nipt-info .wrapper{
            padding-top: 88px;
            padding-bottom: 88px;
        }
        .nipt-info__text{
            padding-top: 56px;
            padding-bottom: 76px;
        }
}
}
.genom-page{
    padding-bottom: 0;
    .nipt-info__text{
        h2{
            margin-bottom: 37px;
        }
    }
}
.genom-pasport{
    padding-top: 100px;
    .company-mission__num{
        small{
            font-size: 28px;
            text-transform: uppercase;
            margin-left: -10px;
        }
    }
    .genom-pasport__box{
        padding-top:65px;
    }
    .genom-passport__text{
        font-weight: normal;
        font-size: 16px;
        line-height: 200%;
        color: #000000;
        max-width: 313px;
    }
}
.genom-passport__step{
    padding-top: 65px;
    min-width: 320px;
    width: 320px;
}
.genom-passport__item{
    padding-bottom: 62px;
    &:last-child{
        padding-bottom: 0;
    }
}
.genom-passport__box{
    display: flex;
}
.genom-passport__description{
    width: calc(100% - 320px);
    padding-left: 90px;
    padding-top: 91px;
    b{
        font-weight: 600;
    }
    .text{
        max-width: 490px;
    }
    
}
.swiper-button-next{
    width: 40px;
    height: 38px;

    &::after{
        display: none;
    }
}
.swiper-button-prev{
    width: 40px;
    height: 38px;

    &::after{
        display: none;
    }
}
.swiper-pagination-progressbar{
    height: 2px !important;
    position: static;
background: #C6C6C6 !important;
    width: 140px !important
        ;
    span{
        background: #953A70 !important;;
    }
    
}
.swiper-pagination__wrapper{
    display: flex;
    align-items: center;
    font-size: 13px;
line-height: 40px;
    font-weight: 700;

color: #191919;
    width: 209px;
    justify-content: space-between;

}
.swiper-container{
    max-width: 727px;
    width: 76%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 29px;
}
.swiper-slide{
        background: #F2ECF2;
    padding-left: 30px;
    padding-top: 30px;
        padding-left: 57px;
    padding-top: 48px;
    padding-right: 57px;
    padding-bottom: 40px;
    min-height: 378px;
        border-radius: 7px;
    .text{
        max-width: none;
        ul{
            padding-top: 4px;
        }
        li{
            position: relative;
            line-height: 1.5;
            padding-bottom: 8px;
            padding-left: 24px;
            &::before{
                position: absolute;
                display: block;
                border: 2px solid #000000;
                border-radius: 50%;
                left: 0;
                top: 9px;
                width: 7px;
                height: 7px;
                content: '';
            }
        }
    }
    h3{
        font-weight: 800;
font-size: 28px;
line-height: 120%;
/* or 34px */
letter-spacing: 0.041em;
text-transform: uppercase;

color: #050505;

border-radius: 30px;
        margin-bottom: 24px;
    }
    }
.swiper-control{
    display: flex;
    justify-content: space-between;
            margin-top: 33px;
    padding-left: 56px;
    align-items: center;
    max-width: 504px;
}
.swiper-arrow__wrapper{
    display: flex;
    div{
        position: static;
        margin: 0;
        font-weight: 400;
        svg{
            path{
                transition: 0.2s;
            }
        }
        &:hover{
            path{
                fill: #953A70;
            }
        }
    }
}
.custom-scroll{
    max-height: 194px;
    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background: #953A70;;
    }
    .mCS-dark-thin.mCSB_scrollTools .mCSB_draggerRail{
        background: #C6C6C6;
    }
    .mCSB_scrollTools{
        right: 30px;
        top: 9px;
        bottom: 9px;
    }
}
.genom-passport__description{
    position: relative;
}
.genom-description__img{
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 74px;
    bottom: -34px;
    max-width: 420px;
    width: 40%;
    right: 0;
}
@media screen and (max-width: 1470px){
    .genom-passport__step{
        padding-left: 36px;
    }
    .custom-scroll .mCSB_scrollTools{
        right: 0;
    }
}
@media screen and (max-width: 1345px){
    
    .genom-passport__description{
        padding-left: 30px;
    }
    .swiper-slide{
        padding: 30px;
    }
    .swiper-slide h3{
        font-size: 24px;
    }
    .swiper-control{
        padding-left: 0;
        max-width: 365px;
        margin-top: 12px;
    }
    .genom-page .nipt-info__text{
        padding-right: 76px;
    }
    .genom-passport__description .text{
      
    }
    .swiper-container{
        margin-top: 15px;
    }
    .genom-passport__description > .text{
        max-width: 350px;
    }
}
@media screen and (max-width: 1023px){
    .genom-pasport{
        padding-top: 60px;
    }
    .genom-passport__description{
        padding-top: 40px;
    }
    .genom-passport__box{
        display: block;
    }
    .genom-passport__step{
        display: flex;
        width: auto;
        min-width: 1px;
    }
    .genom-passport__item{
        width: 50%;
        &:first-child{
            padding-right: 30px;
        }
        
    }
    .genom-pasport .genom-passport__text{
        max-width: none;
    }
    .genom-passport__description{
        padding-left: 0;
        max-width: none;
        width: 100%;
    }
    .nipt-info{
        padding-top: 100px;
    }
}
@media screen and (max-width: 767px){
    .genom-passport__step{
        padding-left: 0;
    }
    .genom-pasport .company-mission__num small{
        font-size: 22px;
        margin-left: 0
    }
    .genom-pasport .genom-passport__text{
        font-size: 14px;
    }
    .genom-passport__step{
        padding-top:30px;
    }
    .swiper-slide{
        min-height: 334px;
    }
    .swiper-slide h3{
        font-size: 20px;
    }
    .swiper-container{
        max-width: none;
        width: 100%;
    }
    .genom-description__img{
        top: 30px;
        height: 300px;
        position: static;
        border-radius: 7px;
        margin-top: 30px;
        width: 100%;
        max-width: none;
        max-width: none;
    }
    .genom-passport__description{
     
    }
    .genom-passport__description > .text{
        max-width: none;
    }
    .nipt-info{
        padding-top: 50px;
    }
    .genom-page .nipt-info__text{
        padding-right: 15px;
    }
    .genom-page .nipt-info__text h2{
        margin-bottom: 15px;
    }
    .swiper-slide h3{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 500px){
    .genom-passport__step{
        display: block;
    }
    .genom-passport__item:first-child{
        padding-right: 0;
        padding-bottom: 30px;
    }
    .genom-passport__item{
        width: 100%;
    }
    
}
@media screen and (max-width: 399px){
    .swiper-slide{
        padding-left: 15px;
        padding-right: 15px;
    }
    .swiper-slide h3{
        font-size: 16px;
       line-height: 1.3;
       
    }
    .swiper-control{
        display: block;
    }
    .swiper-pagination__wrapper{
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-arrow__wrapper{
        max-width: 80px;
        margin-left: auto;
        margin-right: auto;
    }
}