
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	
	width:100%; 
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
    background: #D8CDE1;
    padding-top: 13px;
    padding-bottom: 11px;
    transition: 0.4s;
    position: fixed;
    z-index: 1111;
    top: 0;
     &.sticky{
        background: rgba(216,205,225,0.8);
         &:hover{
             background: rgba(216,205,225,1);
         }
        }
    &.config{
        top: 0;
    }
    &.hide{
        
    }
}

.header-box{
    display: flex;
    justify-content: space-between;
    a{
        
color: #050505;
        font-weight: 600;
font-size: 13px;
        text-shadow: 0 0;
line-height: 16px;
        .icon-arr{
            font-size: 7px;
            position: relative;
            top: -1px;
            transform: rotate(180deg);
            display: inline-block;
            &::before{
                color: #050505;
                transition: 0.2s;
            }
        }
        &:hover{
            color: #953A70;;
            
        }
    }
}

.header-box__menu{
    display: flex;
    justify-content: space-between;
    max-width: 667px;
    width: 100%;
    padding-top: 19px;
    li{
        position: relative;
    }
    
}
.header-wrapper{
    display: flex;
    width: calc(100% - 187px);
    justify-content: space-between;
    &::before{
        content: '';
    }
}
.header-logo{
    position: relative;
    left: 0px;
    max-width: 187px;
    img{
        width: 100%;display: block;
    }
}
.header-box__lang{
    padding-right: 46px;
    padding-top: 10px;
    a.active{
         color: #953A70;;
    }
    a:first-child{
        margin-right: 11px;
    }
}
.header-box__group{
    display: flex;
    padding-right: 4px;
    padding-top: 9px;
}
.header-box__tel{
    text-align: right;

    a{
        display: block;
            padding-bottom: 3px;
    }
}
.header-gamburger{
    display: none;
}
.nav-dropdown{
    position: relative;

    &:hover{
       .header-dropdown{
            opacity: 1;
            top: 82%;
           visibility: visible;
           z-index: 1;
        }
        .icon-arr{
            transform: rotate(0);
            &::before{
                  color: #953A70;;
            }
        }
        &>a{
            color: #953A70;;
        }
    }
}
.header-dropdown{
    position: absolute;
    background: #F2ECF2;
    border-radius: 7px;
    padding-left: 28px;
    padding-top: 22px;
    padding-right: 13px;
    padding-bottom: 18px;
    min-width: 220px;
    left: -30px;
    top: 100%;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    z-index: -111;
    a{
        font-weight: normal;
        font-size: 13px;
        line-height: 1.4;
        color: #050505;
        &:hover{
            color: #953A70;;
        }
    }
    li{
        padding-bottom: 8px;
    }
}
.ios .header-dropdown{

}
@media screen and (max-width: 1199px){
    .header-box__menu{
        max-width: 565px;
    }
    .header-box__lang{
        padding-right: 20px;
    }
}
@media screen and (max-width: 1023px){
    .header-box a{
        left: 0;
    }
    .header-box__group{
        padding-right: 0;
    }
    .header-wrapper{
        left: -110%;
        transition: 0.3s;
        display: block;
        position: fixed;
        top: 50px;
        height: calc(100% - 50px);
        width: 100%;
    }
    .header-gamburger{
        display: flex;
        height: 27px;
        width: 30px;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 9px;
        margin-top: 1px;
        span{
            width: 100%;
            height: 2px;
            background: #050505;
            transition: 0.3s;
            position: relative;
        }
        &.active{
            margin-top: 4px;
            z-index: 111;
            span:first-child{
                transform: rotate(45deg);
                bottom: -5px;
            }
            span:nth-of-type(2){
                transform: rotate(-45deg);
                top: -11px;
                
            }
            span:last-child{
                display: none;
            }
        }
    }
    .header-logo{
        max-width: 130px;
    }
    header{
        padding-top: 7px;
        padding-bottom: 5px;
       
    }
    .header-box{
        align-items: flex-start;
    }
    .header-box a{
        font-weight: bold;
font-size: 20px;
line-height: 1.4;


color: #050505;
    }
    .header-wrapper{
        
            position: fixed;
            height:100%;
            background: #D8CDE1;
          
            top: 0px;
            width: 100%;
            max-width: none;
              overflow: auto;
        padding-bottom: 40px;
            z-index: 111;
            .header-box__menu{
                display: block;
                text-align: left;
                max-width: none;
                padding-left: 28px;
                padding-right: 28px;
                padding-top: 96px;
                li{
                    padding-top: 0px;
                    padding-bottom: 15px;
                }
            }
            .header-box__group{
                justify-content: center;
                padding-top: 30px;
                display: block;
                text-align: center;
            }
            .header-box__tel{
                text-align: center;
            }
            .header-box__lang{
                padding-right: 0;
                padding-bottom: 10px;
            }
        &.active{
            left: 0;
         
            
        }
    }
 
    body.active{
        overflow: hidden;
        height: 100%;
        .main-wrapper{
            overflow: auto;
        }
    }
    .nav-dropdown{
        padding-bottom: 3px !important;
    }
    .header-dropdown{
        visibility: visible;
        opacity: 1;
        position: static;
        background: none;
       padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px ;
        padding-top: 19px;;
        a{
        font-size: 15px;
line-height: 1.4;
            font-weight: 400;

color: #050505;
        }
        li{
            padding-bottom: 12px !important;
        }
    }
    .header-box a .icon-arr{
        display: none;
    }
    .header-wrapper .header-box__lang{
        position: absolute;
        top: 5px;
        left: 28px;
       
        a{
            font-size: 15px;
            
        }
    }
    .header-box__lang a:first-child{
            margin-right: 22px;
        }
    .header-gamburger{
        width: 24px;
    }
    .header-wrapper .header-box__group{
        text-align: left;
        display: block;
        padding-top: 38px;
    }
    .header-wrapper .header-box__tel{
        text-align: left;
        padding-left: 28px;
        a{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
