.learning-page {
    .content {
        padding-bottom: 0;
    }
    .learning-main {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .learning-main__box {
        padding-left: 83px;
        padding-right: 89px;
        padding-bottom: 94px;
        padding-top: 98px;
        max-width: 650px;
        border-radius: 7px;
        li {
            padding-left: 50px;
            position: relative;
            max-width: 450px;
            &:before {
                position: absolute;
                left: 30px;
                top: 13px;
                content: '';
                border: 2px solid #050505;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }
    }
    .learning-main__text {
        margin-top: 18px;
        p {
            padding-bottom: 0;
        }
    }
    .speaker {
        padding-top: 113px;
        margin-bottom: 120px;
        &-content {
            background: #F2ECF2;
            border-radius: 7px;
            position: relative;
            margin-top: 60px;
            padding: 80px 90px;
            &__overlay {
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(../img/speaker-bg.png);
                content: '';
                width: 50%;
                height: 100%;
                background-size: cover;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    height: 100%;
                    width: 294px;
                    background: linear-gradient(90deg, #F2ECF2 0%, rgba(233, 228, 233, 0) 103.75%);
                }
            }
        }
        &-info {
            max-width: 573px;
            z-index: 3;
            position: relative;
        }
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 25px;
            text-transform: uppercase;
        }
        &-prof {
            font-weight: 600;
            font-size: 15px;
            line-height: 160%;
            display: block;
            margin-bottom: 32px;
            margin-top: 13px;
        }
        li {
            padding-left: 28px;
            position: relative;
            font-weight: 300;
            font-size: 15px;
            line-height: 160%;
            margin-bottom: 10px;
            &:before {
                width: 14px;
                height: 10px;
                content: '';
                position: absolute;
                left: 0;
                top: 7px;
                background-image: url(../img/icon-svg/check.svg);
                background-repeat: no-repeat;
            }
        }
        &-photo {
            position: absolute;
            right: 180px;
            bottom: 0;
            z-index: 2;
        }
    }
    .learning-request {
        &__content {
            position: relative;
            padding: 98px 0;
            display: flex;
            justify-content: flex-end;
            &:after {
                background-image: url("../img/learning-request-img.jpg");
                background-size: cover;
                background-position: center;
                content: '';
                display: block;
                width: 67.5%;
                left: 0;
                top: 0;
                bottom: 0;
                position: absolute;
            }
        }
        &__form {
            max-width: 493px;
            width: 100%;
            min-height: 488px;
            background: #FFFFFF;
            box-shadow: 0px 15px 35px rgba(28, 19, 16, 0.15);
            padding-top: 45px;
            margin-right: 14.5%;
            z-index: 2;
            h3 {
                color: #050505;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 29px;
            }
            
            textarea {
                border: none;
                background: none;
                font-size: 14px;
                color: #515151;
                height: 59px;
                
                border-bottom: 1px solid #515151;
                width: 100%;
                position: relative;
                z-index: 1;
                color: #050505;
                resize: none;
                font-family: 'Montserrat';
               padding: 0;
                padding-top: 3px;
                &:focus, &:visited {
                    border-bottom: 2px solid #953A70;
                    outline-offset: 0px;
                    padding-left: 0;
                }
            }
          
            .section-form__group {
                padding-top: 8px;
            }

        }
    }
}



@media screen and (max-width: 1200px) {
    .learning-page .speaker-photo {
        right: 10px;
    }
    .learning-page .learning-request__form {
        margin-right: 0;
    }
}

@media screen and (max-width: 991px) {
    .learning-page .speaker-photo {
        right: auto;
        position: relative;
        text-align: center;
        img {
            display: block;
            margin: auto;
        }
    }
    .learning-page .speaker-content {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .learning-page .learning-main__box,
    .learning-page .speaker-content {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .learning-page .speaker-photo {
        max-width: 300px;
        margin: auto;
        img {
            width: 100%;
        }
    }
    .learning-page .speaker-content {
        padding-bottom: 0;
    }
    .learning-page .speaker {
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .learning-page .speaker-content {
        margin-top: 30px;
    }
    .learning-page .learning-request__form {
        width: 100%;
        margin: auto;
        max-width: 585px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: auto;
    }
    .learning-page .learning-request__content {
        padding: 17px;
    }
    .learning-page .learning-request__content:after {
        width: 100%;
    }
    .learning-request {
        .wrapper {
            padding: 0;
        }
        .section-form__block {
            padding: 0 15px;
        }
    }

    .learning-page .section-form__complete {
        margin-top: 40px;
    }
    .learning-page .learning-request__form .section-form__complete {
        .text {
            margin-bottom: 18px;
        }
    }
    .section-form__wrap {
        .text {
            br {
                display: none;
            }
        }
    }
    .learning-page .learning-main__box li {
        line-height: 130%;
        margin-bottom: 5px;
        &:before {
            top: 7.7px;
        }
    }
    .learning-page .learning-main__text p {
        padding-bottom: 10px;
    }
    .learning-page .speaker li {
        line-height: 130%;
        margin-bottom: 10px;
        &:before {
            top: 6px;
        }
    }

    

}