.news-page {
    .content {
        padding-bottom: 0;
    }
    .newsBlock {
        padding-top: 88px;
        padding-bottom: 92px;
    }
    .section-news__list {
        margin-top: 63px;
    }
    .box-paging {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        .paging-list {
            &__item {
                display: inline-block;
                margin: 0 3px;
                &.active {
                    .paging-list__link {
                        border: 2px solid #953A70;
                    }
                }
            }
            &__link {
                width: 48px;
                height: 48px;
                display: block;
                font-weight: 600;
                font-size: 17px;
                color: #050505;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                &:hover {
                    color: #953A70;
                }
            }
        }
        .paging-next {
            border: 2px solid #C6C6C6;
            border-radius: 30px;
            .paging-list__link {
                width: 45px;
                height: 45px;
                .icon-arr:before {
                    color: #050505;
                    transition: all 0.2s linear;
                }
                span {
                    font-size: 11px;
                    transform: rotate(90deg);
                }
                &:hover {
                    .icon-arr:before {
                        color: #953A70;
                    } 
                }
            }
        }
    }
    .section-news__list li {
        padding-left: 33.5px;
        padding-right: 33.5px;
    }
}
.section-news__list{
    flex-wrap: wrap;
}
.news-page .section-news__list li{
    padding-bottom: 66px;
}
.news-page .box-paging{
    margin-top: 6px;
}
.news-updates {
    text-align: center;
    padding: 85px 0;
    h3 {
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    .text {
        color: #fff;
        max-width: 541px;
        margin: 22px auto;
        font-size: 15px;
        line-height: 182.85%;
    }
    .section-form__group input {
        border-bottom: 1px solid #fff;
    }
    .form-placeholder,
    .section-form__group input,
    .section-form__group input:focus + .form-placeholder {
        color: #fff;
    }
    .btn {
        background: #FFFFFF;
        border: 2px solid #953A70;
        color: #050505;
        padding-left: 70px;
        padding-right: 70px;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:hover {
            // background: linear-gradient(180deg, #953A70 0%, #6D1E4D 100%);
            // background: -webkit-linear-gradient(180deg, #953A70 0%, #6D1E4D 100%);
            // border: 2px solid #953A70;
            background: transparent;
            border: none;
            color: #fff;
            &:before {
                opacity: 1;
            }
        }
        &:before {
            width: 101%;
            height: 100%;
            display: block; 
            position: absolute;
            top: 0px;
            left: -1px;
            z-index: -1;
            opacity: 0;
            background: -webkit-linear-gradient(180deg, #953A70 0%, #6D1E4D 100%);
            -webkit-transition: all 250ms linear;
            content: ".";
            text-indent: -99999px;
        }
    }
    .section-form__block {
        margin-bottom: 44px;
    }
    .section-form__box {
        width: 100%;
        max-width: 100%;
        background: transparent;
        text-align: center;
        padding: 0;
        min-height: auto;
    }
    .section-form__complete {
        margin-top: 111px;
    }
}

.news-updates {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .section-form__block.hide,
    .btn.hide {
        opacity: 0;
        z-index: -11;
        position: relative;
    }
    .section-form__complete {
        display: none;
        height: 0;
        .text {
            font-weight: bold;
            font-size: 18px;
            line-height: 182.85%;
        }
    }
    .section-form__complete.active {
        display: block;
        height: auto;
    }
}
@media screen and (max-width: 1299px){
    .news-page .section-news__list li{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .newsBlock {
        .section-news__title {
            font-size: 15px;
            line-height: 1.5;
            margin-top: 15px;
        }
        .section-news__item {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 70px;
        }
        .section-news__item .link {
            bottom: 21px;
            left: 15px;
        }
        .section-news__text {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}

@media screen and (max-width: 1023px){
    .news-page .section-news__list li{
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 14px;
    }
}
@media screen and (max-width: 767px) {
    .news-page .section-news__list {
        margin-top: 20px;
    }
    .news-page .newsBlock {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .news-page .news-updates {
        padding: 35px 0;
    }

    .news-page .section-news__list li{
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .news-page .newsBlock{
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 460px){
    .news-updates .section-form__complete{
        margin-top: 155px;
    }
}