.nipt-page{
    padding-bottom: 0;
    .company-main__box{
        max-width: 700px;
        padding-top: 100px;
        padding-bottom: 99px;
        padding-right: 78px;
    }
    .company-main__text{
        margin-top: 35px;
    }
}
.nipt-question__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    li{
        width: 50%;
        display: flex;
        padding: 30px;
        .text{
            font-size: 15px;
            line-height: 180%;
            letter-spacing: -0.1px;
        }
    }
}
.company-main__box{
    border-radius: 7px;

}
.nipt-question__box{
    background: #F2ECF2;
    border-radius: 7px;
    padding-top: 40px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 46px;
        width: 100%;
    h4{
        margin-bottom: 15px;
    }
}
.nipt-question{
    padding-top: 90px;
}
.nipt-pay{
    padding-top: 72px;
}
.nipt-pay__box{
    background: #F2ECF2;
    border-radius: 7px;
    padding-bottom: 52px;
    padding-left: 21px;
    padding-right:21px;
    text-align: center;
}
.nipt-pay__list{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 65px;
    margin-bottom: 33px;
    li{
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
        display: flex;
    }
}
.nipt-pay__box{
    padding-top:45px;
    font-weight: 500;
font-size: 18px;
line-height: 26px;

text-align: center;

color: #000000;
    padding-bottom: 175px;;
    position: relative;
    width: 100%;
    min-height: 440px;

}
.nipt-pay__packet{
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#A34A80), to(#C06C9F));
    background: -webkit-linear-gradient(top, #A34A80, #C06C9F);
    background: -moz- oldlinear-gradient(top, #A34A80, #C06C9F);
    background: -o-linear-gradient(top, #A34A80, #C06C9F);
    background: linear-gradient(to bottom, #A34A80, #C06C9F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
font-size: 28px;
line-height: 1.4;
    text-transform: uppercase;
    span{
        text-transform: none;
    }

}
.nipt-pay__text{
    font-weight: 300;
font-size: 15px;
line-height: 180%;
margin-top: 14px;
padding-left: 11px;
    padding-right: 11px;
color: #050505;
}
.nipt-pay__wrap{
    position: absolute;bottom: 51px;
    left: 0;
    right: 0;
}
.nipt-pay__price{
    font-weight: bold;
font-size: 30px;
line-height: 37px;

color: #050505;

border-radius: 10px;
    margin-bottom: 20px;
    span{
        font-size: 20px;
    }
}
.nipt-pay__download{
    color: #953A70;
    
    font-weight: 600;
font-size: 13px;
    line-height: 1.3;
   
    span{
        border-bottom: 1px solid #953A70;
        transition: 0.2s;
    }
    i{
        font-size: 27px;
        position: relative;
        bottom: -8px;
        margin-right: 6px;
    }
    &:hover{
        span{
            border-bottom-color: rgba(0,0,0,0);
        }
    }
}
.nipt-info{
    position: relative;
    padding-top: 107px;
    .wrapper{
        padding-top: 108px;
        padding-bottom: 105px;
    }
}
.nipt-info__img{
    position: absolute;
    width: 51.7%;
    left: 15px;
    top: 0;
    bottom: 0;
}
.nipt-info__text{
    max-width: 813px;
    width: 59%;
    margin-left: auto;
    background: #F2ECF2;
border-radius: 7px;
    padding-left: 76px;

    padding-top: 67px;
    padding-bottom: 69px;
    padding-right: 76px;
    position: relative;
    z-index: 1;
    h3{
        color: #050505;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1.2px;
            line-height: 1.3;
        margin-bottom: 27px;
    }
}

.nipt-info__img{
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-packet{
//    padding-top: 120px;
//    padding-bottom: 120px;
    display: none;
}
.modal-packet__box{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.modal-packet__item{
    padding-left: 55px;
    padding-right:38px;
    padding-top: 51px;
    padding-bottom: 40px;
    background: #F2ECF2;
    border-radius: 7px;
    width: calc(50% - 30px);
    position: relative;
    padding-bottom: 100px;
    h4{
        text-align: center;
        margin-bottom: 23px;
        padding-right: 17px;
    }
    ol{
        margin-bottom: 28px;
        li{
            list-style-type: decimal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            color: #050505;
            padding-left: 12px;
            a{
                color: #953A70;
                border-bottom: 1px solid #953A70;
                &:hover{
                    border-bottom: 1px solid rgba(0,0,0,0);
                }
            }
        }
    }
    .icon-download{
        position: relative;
        z-index: 1;
        font-size: 18px;
        margin-top: -4px;
        display: inline-block;
        position: relative;
        left: -2px;
        bottom: -1px;
        margin-right: 3px;
        &::before{
            color: white;
        }
    }
    .btn{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 275px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -138px;
        bottom: 41px;
    }
}
.packet-modal-wrap{
    .fancybox-bg{
        background: white;
        opacity: 1;
    }
    .fancybox-content{
        position: static;
    }
    .fancybox-close-small{
        width: 80px;
        height: 80px;
        right: 84px;
        top: 61px;
        transition: 0.2s;
        &:hover{
            transform: rotate(90deg);
        }
    }
}
.modal-packet__icon{
    text-align: center;
    padding-right: 16px;
    margin-bottom: 25px;
}
.modal-pay__item{
    padding-left:47px;
    padding-right:47px;
    padding-top: 43px;
    padding-bottom: 50px;
    background: #F2ECF2;
    border-radius: 7px;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    max-width: 460px;
    h3{
        text-align: center;
        margin-bottom: 12px;
        padding-right: 0px;
        color: #050505;
        font-weight: 800;
        text-transform: uppercase;
    }
    ol{
        margin-bottom: 28px;
        li{
            list-style-type: decimal;
            font-weight: normal;
            font-size: 16px;
            line-height: 200%;
            color: #050505;
            padding-left: 12px;
            a{
                color: #953A70;
                border-bottom: 1px solid #953A70;
                &:hover{
                    border-bottom: 1px solid rgba(0,0,0,0);
                }
            }
        }
    }
    .icon-download{
        position: relative;
        z-index: 1;
        font-size: 18px;
        margin-top: -4px;
        display: inline-block;
        position: relative;
        left: -2px;
        bottom: -1px;
        margin-right: 3px;
        &::before{
            color: white;
        }
    }
    .btn{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        bottom: 41px;
        margin-top: 0px;
    }
    .section-form__group:nth-last-of-type(1){
        margin-bottom: 47px;
    }
}
.modal-pay{
    padding: 0;
    display: none;
}
.modal-pay__text{
    text-align: center;
    font-weight: normal;
font-size: 16px;
line-height: 200%;

text-align: center;
    margin-bottom: 10px;
color: #000000;
}
.section-form__group label.error{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    bottom: -14px;
    right: 0;

color: #FE1D1E;
}
.section-form__group input.error{
    border-bottom-color: #FF0000;;
}
@media screen and (max-width: 1300px){
    .nipt-pay__packet{
        font-size: 22px;
    }
    .nipt-pay__text{
        padding-left: 0;
        padding-right: 0;
    }
    .btn2{
        padding-left: 50px;
        padding-right: 50px;
    }
    .nipt-pay__box{
        padding-left: 15px;
        padding-right: 15px;
    }
    .packet-modal-wrap .fancybox-close-small{
        right: 0;
        top: 0;
    }
    .packet-modal-wrap .fancybox-content{
        position: relative
            ;
        padding: 0;
        padding: 9px;
    }
    .nipt-question__list{
        margin-left: -10px;
        margin-right: -10px;
        li{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
@media screen and (max-width: 1023px){
    .nipt-page .company-main__box{
        max-width: none;
    }
    .nipt-question{
        padding-top: 60px;
    }
    .nipt-question__list li{
        padding: 10px;
    }
    .nipt-question__list{
        margin-left: -10px;
        margin-right: -10px;
    }
    .nipt-pay__list{
        flex-wrap: wrap;
        li{
            width: 50%;
            padding-bottom: 20px;
        }
    }
    .nipt-pay__list{
        padding-top: 40px;
    }
    .nipt-pay{
        padding-top: 60px;
    }
    .nipt-pay__list{
        margin-bottom: 0px;
    }
    .nipt-info{
        padding-top: 70px;
    }
    .nipt-info__text{
        padding: 30px;
    }
    .nipt-info .wrapper{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .modal-packet__item{
        width: calc(50% - 10px);
    }
    
    .modal-packet__item{
        padding-left: 30px;
        padding-right: 30px;
    }
    .packet-modal-wrap .fancybox-close-small{
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width: 767px){
    .nipt-page .company-main__box{
        padding: 15px;
    }
    .nipt-page .company-main__text{
        margin-top: 15px;
    }
    .nipt-question__list li{
        width: 100%;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
    .nipt-question{
        padding-top: 7.5px;
    }
    .nipt-question__box{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .nipt-question__list li .text{
        font-size: 14px;
    }
    .nipt-pay__list{
        padding-top: 20px;
    }
    .nipt-pay__box{
        padding-top: 30px;
    }
    .nipt-pay__wrap{
        bottom: 30px;
    }
    .nipt-pay__box{
        padding-bottom: 170px;
    }
    .nipt-pay__box{
        min-height: 1px;
    }
    .nipt-pay__price{
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 1;
    }
    .nipt-info__text{
        max-width: none;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nipt-info__img{
        position: static;
        background-position: center;
        min-height: 300px;
        width: 100%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .nipt-info__text h3{
        margin-bottom: 15px;
    }
    .nipt-info .wrapper{
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column-reverse;
    }
    .nipt-info{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .modal-packet__item ol li{
        font-size: 14px;
    }
    .modal-packet__item h4{
        padding-right: 0;
    }
    .modal-packet__icon{
        padding-right: 0;
    }
    .modal-packet__box{
        display: block;
    }
    .modal-packet__item{
        width: 100%;
        max-width: 460px;
        margin-left: auto;
        margin-right: auto
            ;
        margin-bottom: 20px;
    }
    .modal-packet__item .btn{
        max-width: 250px;
        margin-left: -125px;
        
    }
    .modal-packet__item{

    }
    .modal-pay__item{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 550px){
    .nipt-pay__list li{
        width: 100%;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nipt-pay__packet{
        color: #A34A80;
        background: none;
    }
}