.questions-box{
    padding-top: 91px;
}
.questions-page{
    padding-bottom: 120px;
}
.questions-list__nav{
    display: flex;
    margin-left: -25px;
    margin-right: -25px;
    flex-wrap: wrap;
    margin-top: 58px;
    
    li{
        padding-left:25px;
        padding-right: 25px;
        a{
            font-weight: bold;
font-size: 15px;
line-height: 40px;
/* or 267% */

color: #050505;
            border-bottom: 1px solid rgba(255,255,255,0);
            &:hover{
                color: #953A70;
                
            }
            &.active{
            border-bottom-color: #953A70;
                color: #953A70;
            }
        }
    }
}
.questions-tabs__title{
    font-weight: bold;
font-size: 18px;
line-height: 25px;
    position: relative;

    &::before{
        position: absolute;
        display: block;
        width: 14px;
        height: 2px;
        background: #050505;
        content: '';
        left: -37px;
        top: 11px;
    }
    &::after{
        position: absolute;
        display: block;
        height: 14px;
        width: 2px;
        background: #050505;
        left: -31px;
        top: 5px;
        content: '';
    }

color: #050505;
}
.questions-tabs__item {
    
    &>li{
        background: #F2ECF2;
        border-radius: 7px;
        margin-bottom: 25px;
        padding-left: 69px;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-right: 50px;
        cursor: pointer;
        transition: 0.4s;
        &:last-child{
            margin-bottom: 0;
        }
        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            padding-top: 0
                ;
       
            text-shadow: 0 0;
            
            letter-spacing: 0.04px;
            padding-bottom: 17px;

            &:nth-last-of-type(1){
                padding-bottom: 4px;
            }
                color: #000000;
        }
        &.show{
            .questions-tabs__title{
                &::after{
                    display: none;
                }
            }
        }
    }
}
.questions-tabs__content{
    display: none;
    &.active{
        display: block;
    }
}
.questions-tabs__ask{

    margin-top: 20px;
    display: none;
}
.questions-list__tabs{
    padding-top: 44px;
    max-width: 913px;
}
.questions-tabs__list{
    padding-top: 0px;
    li{
        font-size: 16px;
line-height: 180%;
padding-left: 50px;
color: #000000;
        position: relative;
        padding-bottom: 1px;
        &::before{
            position: absolute;
            display: block;
            content: '';
            border: 2px solid #050505;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            left: 32px;
            top: 10px;
        }
    }
}
@media screen and (max-width: 1023px){
    .questions-box{padding-top: 70px;}
    .questions-list__nav{
        margin-top: 20px;
    }
    .questions-list__tabs{
        padding-top: 25px;
    }
    .questions-page{
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 767px){
    .questions-box{
        padding-top: 50px;
    }
    .questions-tabs__item > li{
        margin-bottom: 15px;
    }
    .questions-tabs__title{
        font-size: 16px;
    }
    .questions-tabs__title::before{
        left: -26px;
    }
    .questions-tabs__item > li{
        padding-left: 40px;
    }
    .questions-tabs__title::after{
        left: -20px;
    }
    .questions-list__nav li a{
        font-size: 14px;
    }
    .questions-list__nav li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .questions-list__nav{
        margin-left: -15px;
        margin-right: -15px;
    }
    .questions-list__nav li a{
        line-height: 1.4;
    }
    .questions-list__nav li{
        padding-bottom: 15px;
        
    }
    .questions-list__tabs{
        padding-top: 15px;
    }
    .questions-tabs__item > li{
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .questions-tabs__item > li p{
        font-size: 14px;
    }
    .questions-tabs__list li{
        font-size: 14px;
    }
    .questions-tabs__list li{
        padding-left: 30px;
    }
    .questions-tabs__list li::before{
        left: 15px;
        top: 9px;
    }
}