.research-page {
    .reasearch-main__link {
        position: relative;
        font-weight: 600;
        font-size: 13px;
        text-decoration-line: underline;
        color: #953A70;
        margin-top: 40px;
        padding-left: 38px;
        display: block;
        &:before {
            position: absolute;
            left: 0;
            top: -7px;
            content: '\e904';
            font-family: 'icomoon' !important;
            font-size: 27px;
            font-weight: 400;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .section-form {
        margin-top: 0;
    }
    .content {
        padding-bottom: 0;
    }
    .research-main__box {
        padding-left: 80px;
        padding-right: 89px;
        // padding-bottom: 170px;
        // padding-top: 100px;
        padding-bottom: 80px;
        padding-top: 80px;
        max-width: 688px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 1360px) {
    .research-page {
        .section-form__box {
            width: 52.9%;
            max-width: 100%;
        }  
    }  
}
@media screen and (max-width: 1023px) {
    .research-page {
        .section-form__box {
            width: 50%;
            max-width: 585px;
        }
    }
}

@media screen and (max-width: 767px) {
	.research-page .reasearch-main__link {
        margin-top: 35px;
    }
    .research-page .research-main__box {
        padding-left: 30px;
        padding-right: 30px;
        
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .research-page .reasearch-main__link {
        font-size: 12px;
    }
    .research-page .section-form__complete {
        margin-top: 40px;
    }
    .research-page {
        .section-form__box {
            width: 100%;
        }
    }
}