.content-services{
    padding-bottom: 0;
    .section-services{
        margin-top: 0;
    }
    .section-services__box{
        height: 500px;
        min-height: 500px;;
    }
    .section-services__list li .section-services__box{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 110px;
    }
    .section-services__list li .section-services__text{
        display: block;
    margin-bottom: 29px;
    margin-top: 31px;
        max-width: 570px;
        visibility: visible;
        position: static;
        opacity: 1;
        li{
            width: auto;
            padding-left: 33px;
            &::after{
                display: none;
                
            }
            &::before{
                background: none;
                width: 7px;
                height: 7px;
                left: 13px;
                right: auto;
                top: auto;
                bottom: auto;
                border: 2px solid #FFFFFF;
                border-radius: 50%;
                top: 13px;
            }
        }
    }
    .section-services__list li .link{
        display: inline-block;
    }
    .section-services__text{
    max-height: none;
}
}
.section-services__text{
    height: 96px;
    overflow: auto;
}
@media screen and (max-width: 1199px){
    .content-services .section-services__list li .section-services__box{
        padding-left: 30px;
        padding-right: 30px;
        br{
            display: none;
        }
    }
}
@media screen and (max-width: 767px){
    .content-services .section-services__list li .section-services__box{
        padding: 15px;
    }
    .content-services .section-services__list li .section-services__box{
        height: auto;
        min-height: 400px;
    }
    .section-services__box{height: auto;}
    .section-services__box{
    
    }
}